@use "../abstract/variables" as v;
@use "../base/typography" as typo;
@use "../base/base.scss" as base;
@use "../layout/header";
@use "../layout/footer";
@use "../main/banner";
@use "../main/services";
@use "../main/features";

// fichier responsive 
// responsive tablet 
@media screen and (max-width: 768px) {
// responsive header _header.scss
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-container {
            width: 50%;
            img {
                width: 100%;
            }
        }
        nav {
            visibility: hidden;
            .menu-img-container {
                visibility: visible;
                margin-top: -15%;
            }
        }
    }
    // responsive banner _banner.scss 
    #banner {
        width: 95%;
        .banner-content {
            width: 85%;
            margin: 0 auto;
        }
        .banner-img-container {
            visibility: hidden;
        }
    }
    // responsive services _services.scss 
    #services {
        width: 100%;
        .cards-container {
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            .card-container-left {
                width: 100%;
                .card {
                    max-width: 100%;
                    margin-bottom: 1%;
                }
            }
            .card-container-right {
                width: 100%;
                .card {
                    max-width: 100%;
                    margin: 0;
                    margin-bottom: 1%;
                }
            }
        }
    }

    // Responsive features _features.scss 

    #features {
        display: flex;
        flex-direction: column;
        .features-heading {
            width: 100%;
            margin-bottom: 10%;
            justify-content: center;
        }
        .features-container {
            flex-direction: column;
            align-items: center;
            width: 100%;
            .feature-card {
                width: 75%;
                margin-bottom: 1.5%;
            }
        }
    }

    #bottom-banner {
        width: 100%;
        flex-direction: column;
        margin-bottom: -4%;
        margin-top: 12.5%;
        .banner-content {
            margin: 0 auto;
            width: 70%;
        }
    }
    // footer responsive _footer.scss
    .footer-container {
        text-align: center;
        .footer-content {
            flex-direction: column;
            align-items: center;

            .logo-container {
                width: 65%;
            }

            .menu-items-bot {
                .menu-items-container {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .footer-contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-top: 10%;
        width: 100%;
        .contact-container {
            width: 100%;
            .contact-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 70%;
            }
        }
    }
    .footer-content::after {
        content: "";
        display: inline-block;
        width: 75%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -10%;
    }
}

// responsive mobile 425px

@media screen and (max-width: 425px) {
     // responsive banner _banner.scss 
    #banner {
        margin: 0 auto;
        .banner-content {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.25rem;
            }
        }
    }

        // Responsive features _features.scss 
        #bottom-banner {
            .banner-content {
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.25rem;
                }
            }
        }
    }