@use "../abstract/variables" as v;
@use "../base/typography" as typo;
@use "../base/base.scss" as base;
@use "../abstract/mixins.scss" as mixin;

.footer-container {
    background-color: #1D1D1F;
}

#bottom-banner {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 2.5%;
    width: 70%;
    background-color: #E7816B;
    border-radius: v.$radius;
    position: relative;
    top: -8rem;

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: white;
    }
    .bottom-banner-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        
        a {
            padding: 15px 25px;
        }
    }
}

.footer-content {
    display: flex;
    justify-content: space-around;
    .logo-container {
        width:  15%;
        img {
            max-width: 100%;
        }
    }
}