@use "../abstract/variables" as v;
@use "../base/typography" as typo;
@use "../base/base.scss" as base;
@use "../abstract/mixins.scss" as mixin;


.footer-container {
    background-color: #1D1D1F;
    z-index: -1;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    padding-top: 10%;
    .logo-container {
        width:  15%;
        img {
            max-width: 100%;
        }
    }
    .menu-item {
        color: white;
        transition: all 0.15s ease-in;
    }
}

.footer-content::after {
    content: "";
    display: inline-block;
    width: 75%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -20%;
}

.footer-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1.25rem;
    .contact-content-left {
        list-style: none;
    }
    .contact-content-right {
        list-style: none;
        margin-left: 15%;
    }
    .socials-container {
        display: flex;
        margin-left: 50%;
        list-style: none;
        .social-icon {
            width: 15%;
            img {
                width: 50%;
            }
        }
    }
}

.footer-container {
    .footer-content {
        .menu-items-bot {
            .menu-items-container {
                .menu-item:hover {
                color: rgb(188, 187, 187);
                }
            }
        }
    }
}
