@use "../abstract/variables" as v;
@use "../base/typography" as typo;
@use "../base/base.scss" as base;


header {
    display: flex;
    justify-content: space-between;
    margin: 2.5% 10% 0 10%;
    .logo-container {
        width:  15%;
        img {
            max-width: 100%;
        }
    }
    .menu-items-container {
        display: flex;
        .menu-item {
            
            color: black;
            transition: all 0.15s ease-in;
        }
    }
    .menu-img-container {
        width: 15%;
        margin: 0 auto;
        visibility: hidden;
        img {
            width: 100%;
        }
    }
}

header {
    nav {
        .menu-item:hover {
            color: rgba(0, 0, 0, 0.644);
        }
    }
}
