@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato/Lato-Regular.ttf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5%;
}

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-container-left {
  width: 40%;
}
.card-container-left .card {
  height: 100%;
}

.card-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.cta {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.542);
  text-decoration: none;
  text-transform: uppercase;
}

.menu-items-container {
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 1.5rem;
}
.menu-items-container .menu-item {
  text-decoration: none;
  display: flex;
}

header {
  display: flex;
  justify-content: space-around;
}
header .logo-container {
  width: 10%;
}
header .logo-container img {
  max-width: 100%;
}

.footer-container {
  background-color: #1D1D1F;
}

#bottom-banner {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 2.5%;
  width: 70%;
  background-color: #E7816B;
  border-radius: 10px;
  position: relative;
  top: -8rem;
}
#bottom-banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: white;
}
#bottom-banner .bottom-banner-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
#bottom-banner .bottom-banner-cta a {
  padding: 15px 25px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-content .logo-container {
  width: 15%;
}
.footer-content .logo-container img {
  max-width: 100%;
}

#banner {
  display: flex;
  justify-content: flex-start;
  margin: 2.5% auto;
  padding: 5%;
  width: 75%;
  background-color: #E7816B;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#banner .banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: white;
}
#banner .banner-img-container {
  width: 20%;
  position: absolute;
  right: 15%;
  top: 15%;
  z-index: 2;
}
#banner .banner-img-container img {
  max-width: 100%;
  position: absolute;
  z-index: -1;
}

.service-heading {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.card {
  width: 100%;
  border-radius: 10px;
  background-image: url("../img/img/homme-assis-batiment.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.5%;
  position: relative;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  z-index: 2;
}
.card .card-content .card-cta {
  text-decoration: none;
  color: white;
}

.card-container-right > .card:nth-of-type(1) {
  background-image: url("../img/img/passport.jpg");
  margin-bottom: 1%;
  margin-left: 1%;
}

.card-container-right > .card:nth-of-type(2) {
  background-image: url("../img/img/montgolfiere.jpg");
  margin-left: 1%;
}

.card-cta::after {
  content: ">";
  color: #CD654C;
  font-size: 1.5rem;
}

.card-overlay {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.385);
  z-index: 1;
  position: absolute;
}

.features-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 10%;
  background-image: url(../svg/wave.svg);
  background-size: cover;
  height: 70vh;
}

.features-heading {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.feature-logo-container {
  width: 20%;
}

.feature-logo-container > img {
  width: 100%;
}

.feature-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
