@use "../abstract/variables" as v;
@use "../base/typography" as typo;
@use "../base/base.scss" as base;

.cta {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.542);
    text-decoration: none;
    text-transform: uppercase;
}