@use "../abstract/variables" as v;
@use "../base/base.scss" as base;

.menu-items-container {
    display: flex;
    list-style: none;
    gap: 35px;
    font-size: 1.5rem;
    .menu-item {
        text-decoration: none;
        display: flex;
    }
}