@use "../abstract/variables" as v;
@use "../base/typography" as typo;
@use "../base/base.scss" as base;
// fichier scss de la bannière du site 

#banner {
    display: flex;
    justify-content: flex-start;
    margin: 2.5% auto;
    padding: 5%;
    width: 75%;
    background-color: #E7816B;
    border-radius: v.$radius;
    position: relative;
    overflow: hidden;

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: white;
    }

    .banner-img-container {
        width: 20%;
        position: absolute;
        right: 15%;
        top: 15%;
        z-index: 2;
        img {
            max-width: 100%;
            position: absolute;
            z-index: -1;
        }
    }
}