@use "../abstract/variables" as v;
@use "../base/typography" as typo;
@use "../base/base.scss" as base;
@use "../abstract/mixins.scss" as mixin;

// page scss de la section features
#features {
    z-index: 10;
}

.features-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -12.5%;
    gap: 10%;
    background-image: url(../svg/wave.svg);
    background-size: cover;
    height: 90vh;
}

.features-heading {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.feature-logo-container {
    width: 20%;
}
.feature-logo-container > img {
    width: 100%;
}

.feature-card {
    @include mixin.feature;
}

#bottom-banner {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: -10rem;
    padding: 2.5%;
    width: 70%;
    border-radius: v.$radius;
    background-color: #E7816B;
    position: relative;
    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: white;
    }
    .bottom-banner-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        
        a {
            padding: 15px 25px;
        }
    }
}